<%= link_to product_path(product.id) do %>
<li class="">
  <p>Name: <%= product.name %></p>
  <p>Price: $<%= product.formatted_price %></p>
  <p>Description: <%= truncate(product.description, length: 100) %></p>
  <% end %>
  <p> ------------------------ </p>
</li>