<div class='row'>
  <div class='small-6 large-centered columns text-center'>
    <h1 class='changeme text-center'>Products <hr><small class='changeme'><%= page_entries_info @products %></small></h1>

    <ol class='changeme'>
      <div id="products">
        <%= render @products %>
      </div>
    </ol>

    <div class="pagination-centered">
      <%= paginate @products %>
    </div>
  </div>
</div>